﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PensionDashboard Update</title>
</head>
<body>
<div>
    Pension Dashboard
</div>
</body>
</html>
